* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

form {
    border : 2px solid black;
    line-height: 2;
    margin : 20% 0% 20% 25%;
    width: 50%;
    text-align: center;
    padding: 3%;
    background-color: rgb(145, 21, 50);
}

input {
    margin: 5%;
    padding: 1%;
}

label {
    color: rosybrown;
}

#but {
    background-color: rosybrown;
    color: black;
    border-radius: 40%;
    padding: 1%;
}

.huda {
    display: none;
}